.table {
  width: 100%;
}
  .table-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid black;
    border-color: rgb(163, 167, 165);
    padding-bottom: 32px;
  }
    .title {
      margin-left: 43px;
    }
    .description {
      width: 209px;
    }
    .id {
      margin-left: 26px;
    }
    .price {
      width: 43px;
    }